<div class="static flex items-center justify-center h-12 mt-4 bg-sky-500">
  <p>&#169;2020</p>
  <span>|</span>
  <p>Site created by <a href="https://jeffmchale.com" class="italic text-slate-800 hover:text-slate-100">Jeff McHale</a></p>
</div>