<nav class="mb-4 border-b-2 bg-violet-100">
  <div class="max-w-4xl px-5 mx-auto">
    <div class="relative flex items-center justify-between py-2">
      <a href="/"><%= image_tag "ttt-logo.webp" %></a>
      <div class="text-3xl font-bold text-slate-700">Trust The Truth</div>
      <div class="flex">
        <a href="/" class="pr-4 ">My Story</a>
        <a href="/articles">Keespakes</a>
      </ul>
    </div>
  </div>
</nav>