<nav class="mb-4 bg-sky-500">
  <div class="max-w-4xl px-5 mx-auto">
    <div class="relative flex items-center justify-between h-32">
      <a href="/">Logo</a>
      <div>Trust The Truth</div>
      <div class="flex">
        <a href="/" class="pr-4">My Story</a>
        <a href="/articles">Keespakes</a>
      </ul>
    </div>
  </div>
</nav>