<nav class="flex max-w-4xl mx-auto h-12 items-center justify-end">
  <ul class="justfy-self-start">
    <li>home</li>
  </ul>
  <ul class="flex">
    <li class="pr-4">about</li>
    <li>contact</li>
  </ul>
</nav>