<div class="p-4 border border-gray-800 rounded-md">
  <h2 class="mb-4 text-2xl font-semibold">My Story</h2>
  <p class="mb-4">
    My name is Tammy McHale. I am a 49 year old child of GOD. My husband, Ken, and I have been married for 31 years. We have three grown sons, Jeff, Jon and Jeremy. Jeff is married to Annie, a wonderful young woman and they have 2 beautiful girls, Kaitlyn and Willa. These two little girls have our hearts!!
  </p>
  <p class="mb-4">
    Ken and I live just outside of Athens, GA. We both love the LORD and have served HIM since the day we met. It has not all been easy, but by the grace of GOD, we are doing the best we can with what we have in all we do. 
  </p>
  <h2 class="mb-4 text-2xl font-semibold">A GOD-thing</h2>
  <p class="mb-4">
    Since October 10, 1991, I have been a born-again Christian. It has not always been an easy path to follow. There have been times when I wanted t give up with the whole "church-thing" because of the way people treated us. After a while, and prayer (mine and others' prayers for me), I realized that I needed to look at the way I was acting and see if it measured up to how GOD would want me to act. my conclusion...nope. I prayed and asked for forgiveness, and for the LORD to show me how to love people like HE loved them. and it worked. I began to overlook faults and love people, no matter what. I might have gotten mad at them, but the LORD helped me do the forgiving. 
  </p>
  <p class="mb-4">
    For the past few months I have been wanting to share JESUS more than ever. I never thought I would be able to share, but the LORD opened my mind to the idea of starting this page for those who are hurting or seeking something more.
  </p>
  <p class="mb-4">
    I hope that you enjoy receiving what I have affectionately dubbed keepsakes. Keepsakes are little treasures that are meant to be passed on to those you love. Because JESUS loves you, I want to pass the treasures HE has given me on to you to let you know how much you are loved by the LORD.
  </p>
</div>